* {
    background: #0F111A;
    font-family: "Fira Math Mono", system-ui;
}

body {
    color: #556096;
}

.about {
    color: #343f75;
}

.skills {
    color: #72558b;
}

.projects {
    color: #559496;
}

.projects-flex {
    color: #559496;
    display:flex;
    flex-wrap:wrap;
}

.contact {
    color: #5560d3;
}

.project img {
    scale: 40vw;
    width: 40vw;
    padding: 20pt 10pt;
}
